body {
  background-color: rgb(33, 37, 41);
}

.screen-height {
  min-height: 100vh;
}

.menu-buffer {
  margin-top: 70px;
}

.image-small {
  width: 75px;
}

.image-medium {
  width: 200px;
}

.bg-footer {
  background-color: #111111;
  color: #999999;
}

.info-message {
  position: absolute;
  transition: 1s;
  top: -300px;
  right: 0px;
}
